<div class="container text-center pt-4 col-lg-5 col-md-8 col-10">
    <h1>About My Clipboard</h1>

    <h2 class="text-secondary mt-5">What is this for?</h2>
    <p class="lead">
        Companies such as Apple allow you to copy text seamlessly between devices made by them -
        for example Macs and iPhones - but not between devices outside of the ecosystem.
    </p>
    <p class="lead"><em>My Clipboard</em> allows you to copy text between any device using the Chrome Extension, the iPhone App, the iPad App, the Android app, and this website.</p>
    <p class="lead">See <a href="/download">myclipboard.io/download</a> for download links.</p>

    <h2 class="text-secondary mt-5">Disclaimer</h2>
    <p class="lead">While data is sent to and from the servers securely, do not use this service to copy sensitive info such as passwords.</p>

    <h2 class="text-secondary mt-5">Who Makes This?</h2>
    <p class="lead"><a href="https://reedcolloton.com">Reed Colloton</a> is the developer.</p>
    <p class="lead">Contact me at <a href="mailto:reed@myclipboard.io">reed@myclipboard.io</a>.</p>

    <h2 class="text-secondary mt-5">Privacy</h2>
    <p class="lead">My Clipboard stores your login email; a secure salted, sha256 hash of your password; and your most recently pasted text.</p>
    <p class="lead">Only the most recent contents of your clipboard are stored.</p>
    <p class="lead">Additionally, the contents are automatically deleted from the servers after about 3 days.</p>
    <a class="lead" href="/privacy">Read full privacy policy</a>

    <h2 class="text-secondary mt-5">Terms And Conditions</h2>
    <p class="lead">By using myclipboard.io and related apps, you agree to the terms and conditions.</p>
    <a class="lead" href="/terms">Read terms and conditons</a>

</div>