{% extends "layout.html" %}

{% block PAGE %}
Download
{% endblock %}

{% block MAIN %}
<div class="container text-center my-5 mt-5 col-lg-6 col-md-8">
    <h1>Download</h1>

    <h2 class="text-secondary mt-5">Phone Apps</h2>
    <div class="mt-3">
        <a class="btn btn-lg btn-outline-success" target="_blank" href="https://apps.apple.com/us/app/my-clipboard-sync-to-devices/id1557735729">
            Download iPhone/iPad App Here
        </a>
    </div>
    <div class="mt-3">
        <a class="btn btn-lg btn-outline-success" target="_blank" href="https://play.google.com/store/apps/details?id=io.myclipboard.clipboard">
            Download Android App Here
        </a>
    </div>

    <h2 class="text-secondary mt-5">Computer Apps</h2>
    <div class="mt-3">
        <a class="btn btn-lg btn-outline-success" target="_blank" href="https://chrome.google.com/webstore/detail/my-clipboard/emhmaepmgpjnimnogbehplipclejinpa">
            Download Chrome Extension Here
        </a>
    </div>

</div>
{% endblock %}