{% extends "layout.html" %}

{% block PAGE %}
Login
{% endblock %}

{% block MAIN %}

<div class="container my-5 col-lg-3 col-md-4 col-10 text-center">
    <h3>
        {% if oauth_client %}
            Authorize
        {% else %}
            Log in
        {% endif %}
    </h3>
    <form action="/login/" method="post">
        <div class="form-floating">
            <input name="password" type="password" class="form-control bg-{{ background }} text-{{ accent }}" placeholder="name@example.com" maxlength="512" required>
            <label for="password" class="form-label">Password</label>
        </div>

        {% if oauth_client %}<input name="oauth" value="{{ oauth_client }}" hidden>{% endif %}

        <div class="mt-3">
            <a href="/forgot" class="text-secondary">Forgot password?</a>
        </div>

        <div class="mt-3">
            <button class="btn btn-lg btn-primary" type="submit">
                {% if oauth_client %}
                    Authorize
                {% else %}
                    Log in
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}